
<h1>Stupid coaching</h1>

<p>Ask your coach anything:</p>

<div class="display">
<form action="/answer">
  <input class="text-box" type="text" name="user_answer">
  <input class="btn" type="submit" value="Ask!">
</form>
</div>
